body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;

}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

h1,
h2,
h3,
p {
    margin: 0;
}

img {
    display: block;
}

ul {
    margin: 0;
    padding-left: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* MOBILE MENU */
.mobile-menu {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 99999999999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
}

.mobile-menu-container {
    position: relative;
    background-color: #FFFFFF;

    
}

.mobile-menu-close-btn {
    border: none;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    fill: #2e2f42;
    width: 24px;
    height: 24px;
    line-height: 0;
    padding: 0;
    position: absolute;
    top: 24px;
    right: 16px;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
}


.mobile-menu-list {
    margin-bottom: 168px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 72px 0px 40px 0px;

}

.mobile-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.active {
    color: #404bbf;
}

.mobile-menu-list-address {
    display: flex;
    flex-direction: column;
    margin-bottom: 48px;
    gap: 24px;

}

.mobile-menu-address-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}

.active-address {
    color: #4d5ae5;
}

.icon-cocial-link {
    border-radius: 50%;
    background-color: #4d5ae5;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-social {
    display: flex;
    justify-content: space-between;
}

.icon-cocial {
    fill: #f4f4fd;


}

.cocial-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

/* ====================HEADER============================*/
.header {
    padding: 18px 0;
    border-bottom: none;
    box-shadow: none;
    background: #fff;
}



.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}



span {
    color: #2e2f42;

}

.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin-right: 76px;
    color: #2E2F42;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}


@media only screen and (max-width: 768px) {
    .container {
        max-width: 320px;
        padding: 0 16px;
        margin: 0 auto;
    }
    .list-header,
    .address-header {
        display: none;
    }
    .menu-burger-btn {
        fill: #2f2f37;
        border: none;
        background-color: transparent;
        padding: 0;
        line-height: 0;
    }
}


/* =====HEADER 768============================ */
@media only screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    .menu-burger-btn {
        display: none;
    }

    .mobile-menu-close-btn {
        display: none;
    }

    .list-header,
    .address-header {
        display: block;
    }

    .header {
        padding: 16px 0;
        border-bottom: 1px solid #e7e9fc;
        box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
        background: #fff;
    }

   .container-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        margin-right: 120px;
    }

    .nav-header {
        display: flex;
        align-items: center;
    }

    .list-header {
        display: flex;
        gap: 40px;
    }





    .link-header {
        padding: 24px 0;
        font-weight: 500;
        line-height: 1.5;
        color: #2e2f42;
        letter-spacing: 0.32px;
        font-size: 16px;
    }



    .item-header {
        line-height: 1.5;
        letter-spacing: 0.32px;
    }


   



    .active {
        position: relative;
        color: #404bbf;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .active::after {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 4px;
        background-color: #404BBF;
        left: 0;
        bottom: -1px;
        border-radius: 2px;

    }
    .list-address{
        display: flex;
        flex-direction: column;
        gap:12px;
    }

    address {
        font-style: normal;
    }

    .address-mail {
        color: #434455;
        font-size: 12px;

    }



}
/* ========HEADER 1158========================= */
@media only screen and (min-width: 1158px) {
    .header {
        padding: 24px 0;
        
    }

    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
    



.list-address {
    display: flex;
    flex-direction: row;
    
}
.logo{
    margin-right: 76px;
}

.link-header:hover {
    color: #404BBF;
}

.link-header:focus {
    color: #404bbf;
}
.list-address{
 
        display: flex;
        gap: 40px;
    
}

.address-mail{
    font-size: 16px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.address-mail:hover {
    color: #404bbf;
}

.address-mail:focus {
    color: #404bbf;
}

}

/* <!-- SECTION-1 =========================--> */
/* main  */
/* benefits */
.benefits {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/people-office.jpg);
    max-width: 320px;
    background-size: cover;
    background-color: #2E2F42;
    padding: 72px 52px ;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;

}







